.array-container {
    position: absolute;
    width: 100vw;
    bottom: 0;
    position: fixed;
}

.array-bar {
    background-color: rgb(227, 236, 235);
    display: inline-block;
    margin: 0 0vw;
}

body   {  
    height: 125vh;  
    margin-top: 80px; 
    background-size: cover;
    background-color: rgb(50, 65, 88);
}  

header {  
    background-color: rgb(225, 173, 1);  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 0px;
    height: 80px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
    } 

header * {  
    display: inline;  
}  

header li {  
    margin: 10px;
}  
header li button {
    background-color: rgb(225, 173, 1);
    color: rgb(24, 32, 42);
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;  
    border: none;
    cursor: pointer;
}  

.slide-container {
    margin: 15px;
    font-family: Georgia;
    font-weight: bold;
    color: rgb(24, 32, 42);
    font-size: 1.1vw;
}

.slider {
    height: 15px;
    margin: 20px;
}

label {
    font-family: Georgia;
    font-size: large;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;

}

.head-bar {
    border-left: 6px solid rgb(27, 31, 53);
    height: 50px;
    position:absolute;
    top: 0px;
    margin: 10px;
}